// font CN adsress[input], 
//         data-completion[input], 
//         description[p]
font-CourierNew = CourierNew
// font PTB adsress[label], 
//          data-completion[label],
//          title[h2], box-checkbox[label],
//          graph-javascript[footnote],
//          box-checkbox[label],
//          box-radiobox[label]
font-PTSansBold = PTSansBold
// font PTR subtitle[p]
font-PTSansRegular = PTSansRegular

// color-black box-checkbox[label],
//             box-radiobox[label]
color-black = #000
// color-brown adsress[label], 
//             data-completion[label],
//             title[h2], graph-javascript[footnote],
color-brown = #2f1b15
// color-dark-brown adsress[placeholder], 
//                  data-completion[placeholder],
//                  subtitle[p], description[p]
color-dark-brown = #231f20
// color-blue box-checkbox[a]
color-blue = #1f5f97
// color-dark-silver page
color-dark-silver = #797979