.button

	&__popup
		display inline-block
		width 125px
		height 30px
		line-height 30px
		text-align center
		text-decoration none
		color #333
		border 1px solid #555
		border-radius 2px
		background #efefef