.input-label
	position relative
	margin-bottom 10px
	display block

	&__span
		margin-right 10px

	&__input
		position absolute
		right 0
		width 270px
		text-indent 10px
		border none
		border-bottom 1px solid #333