.table-app__tr
	background #fff
	transition background .2s
.table-app__tr:hover
	background #efefef
.table-app__td
	border 1px solid #000
	height 25px
	text-indent 10px
	line-height 25px
	cursor pointer
